* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #F7F7F7;
}

#main__fundadores{
    min-height: 100vh;
}
