.registro-main{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #333;
}

.back-to-menu {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #000000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.back-to-menu:hover{
    background-color: #707070;
    transform: scale(1.1);

}
.form-container{
    background-color: white;
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
    height: 90%;
    display: flex;
    align-items: center;
    .login-container{
        width: 500px;
        margin: 0 auto;
        img{
            width: 8vw;
            height: auto;
            display: block;
            margin: 0 auto;
        }
        h2{
            padding-bottom: 70px;
            text-align: center;
            font-size: 3rem;
        }
    }
    .welcome-screen-container{
        background-color: #FFD4D0;
        height: 100%;
        width: 50%;
        img{
            width: 100vh;
            height: 100%;
            object-fit: cover;
        }
    }
}


.form-container .login-container > p,
.form-container .login-container > span{
    text-align: center;
    color: #555;
    margin-top: -50px;
}
.form-container .login-container label{
    display: block;
    padding: 5px 0;
    font-weight: bold;
    input.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: solid 1px #ccc;
    border-radius: 5px;
}
}
.form-container .login-container input.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: solid 1px #ccc;
    border-radius: 5px;
}

.form-container .login-container input.input:focus{
    outline: solid 2px #0099ff;
}

.form-container .login-container .options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    a{
        color: #0099ff;
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
}
.form-container .login-container .providers{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    text-align: center;
}

.btn{
    border: none;
    padding: 15px 0;
    width: 100%;
    font-weight: bolder;
    display: block;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn.btn-email-registro{
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 0.9rem;
}
.btn.btn-email-registro:hover{
    background-color: #333;
}

.btn.btn-login{
    background-color: black;
    color: white;
}
.btn.btn-login:hover{
    background-color: #333;
}
.btn.btn-facebook{
    background-color: rgb(10, 82, 216);
    color: white;
}
.btn.btn-facebook:hover{
    background-color: rgb(9, 64, 167);
}
.btn.btn-google{
    background-color: white;
    color: black;
    border: solid 1px #ccc;
}
.btn.btn-google:hover{
    background-color: rgb(240, 240, 240);

}
.btn.btn-twitter{
    background-color: rgb(10,168,216);
    color: white;
}
.btn.btn-twitter:hover{
    background-color: rgb(9, 135, 173);
}

@media screen and (max-width: 1357px) {
    .form-container{
        width: 95%;
        .welcome-screen-container{
            display: none;
        }
        .login-container{
            width: 400px;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 900px) {
    .form-container{
        height: 80%;
    }
    .form-container .login-container{
        width: 350px;
        img{
            display: none;
        }
    }
}